{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Приветствую! Меня зовут Егор и сейчас ты находишься на сайте моего первого Django проекта.<br>
  3 месяца назад я начал обучение на Яндекс.Практикуме и вот уже есть первые достойные результаты.<br>
    <br>
  Что такое Yatube? Это социальная сеть для публикации личных дневников.<br>
    <br>
  Что реализованно?<br>
  Можно создать свою страницу. Если на нее зайти, то можно посмотреть все записи автора.<br>
  Пользователи могут заходить на чужие страницы, подписываться на авторов и комментировать их записи.<br>
  Автор может выбрать для своей страницы имя и уникальный адрес.<br>
  Модерирование записей и блокирование пользователей через Админ панель.<br>
  Записи можно отправить в сообщество и посмотреть там записи разных авторов.<br>
</p>
{% endblock %}